/*-- scss:defaults --*/

$primary-color: #051435;
$secondary-color: #0073bc;
$example-color: #fdc82f;
$alert-color:#da1a35;
$presentation-h-font12: 'derailed';
$presentation-h-font36: 'derailed';